<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.neoyang.yangtuoserver.dao.MovieDao">

    <resultMap id="movieMap" type="me.neoyang.yangtuoserver.bean.Movie">
        <id column="mid" property="mid"></id>
        <result column="movie_id" property="movieId"></result>
        <result column="movie_title" property="movieTitle"></result>
        <result column="title_other" property="titleOther"></result>
        <result column="director" property="director"></result>
        <result column="cast" property="cast"></result>
        <result column="country" property="country"></result>
        <result column="genre" property="genre"></result>
        <result column="language" property="language"></result>
        <result column="duration" property="duration"></result>
        <result column="description" property="description"></result>
        <result column="release_date" property="releaseDate"></result>
        <result column="tag" property="tag"></result>
        <result column="poster" property="poster"></result>
        <result column="rating" property="rating"></result>
        <result column="douban_url" property="doubanUrl"></result>
    </resultMap>

    <resultMap id="movieListMap" type="me.neoyang.yangtuoserver.bean.Movie">
        <id column="mid" property="mid"></id>
        <result column="movie_id" property="movieId"></result>
        <result column="movie_title" property="movieTitle"></result>
        <result column="genre" property="genre"></result>
        <result column="rating" property="rating"></result>
        <result column="poster" property="poster"></result>
        <result column="director" property="director"></result>
        <result column="cast" property="cast"></result>
    </resultMap>

    <select id="findRecommends" resultMap="movieMap" parameterType="list">
        select * from movie
        <where>
            movie_id in
            <foreach collection="list" separator="," item="item" open="(" close=")" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="getMovieList" resultMap="movieListMap">
        select movie_id,movie_title,genre,rating,poster,director,cast from movie
    </select>

    <select id="search" resultMap="movieMap" parameterType="String">
        select * from movie where
        movie_title like CONCAT('%',#{content},'%')
        or cast like CONCAT('%',#{content},'%')
        or director like CONCAT('%',#{content},'%')
    </select>

    <select id="selectByTag" resultMap="movieMap" parameterType="java.util.HashMap">
        select * from movie
        <where>
            1 = 1
            <if test="type != null and type != ''">
                and tag like CONCAT('%',#{type},'%')
            </if>
            <if test="region != null and region != ''">
                and tag like CONCAT('%',#{region},'%')
            </if>
            <if test="year != null and year != ''">
                and tag like CONCAT('%',#{year},'%')
            </if>
            <if test="sepecial != null and sepecial != ''">
                and tag like CONCAT('%',#{sepecial},'%')
            </if>
        </where>
    </select>

    <select id="getMovieListOrderByRate" resultMap="movieMap">
        select * from movie order by rating desc
    </select>

    <select id="getMovieById" resultMap="movieMap" parameterType="Integer">
        select * from movie where movie_id = #{movieId}
    </select>

    <select id="getWishList" resultMap="movieMap" parameterType="Integer">
        SELECT * FROM movie where movie.movie_id in(
        SELECT wish.movie_id FROM wish where wish.user_id = #{userId})
    </select>

    <select id="getMoviesRecommend" resultMap="movieMap" parameterType="integer">
        SELECT * FROM movie WHERE movie_id in(
            SELECT movie_id_recommend FROM rec
                WHERE movie_id = #{movieId}
            )
    </select>

    <select id="getWatchedList" resultMap="movieMap" parameterType="Integer">
        SELECT * FROM movie where movie.movie_id in(
SELECT rating.movie_id FROM rating where rating.user_id = #{userId})
    </select>

    <insert id="rec">
        insert into recommend(movie_id,user_id) values(#{movieId},#{userId})
    </insert>

</mapper>